
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    

    <%- include('../partials/posts'); %>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>
<script src="script.js"></script>