
<!DOCTYPE html>
<html lang="en">
    <head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<body>
    <form action="/search/title" id="titleForm">
        <label for="titleSearch">Search by Title:</label>
        <input type="text" id="titleSearch">
        <input type="submit" value="Search" id="titleButton">
    </form>

    <form action="/search/category" id="categoryForm">
        <label for="categorySearch">Search by Category:</label>
        <input type="text" id="categorySearch">
        <input type="submit" value="Search" id="categoryButton">
    </form>
    <div>
        <p id="message"></p>
        <ol id="results"></ol>
    </div>

<script src="search.js"></script>
</body>

<footer>
    <%- include('../partials/footer'); %>
</footer>