<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-center"> 
        <a class="nav-link mx-2" href="/">Home</a> 
        <a class="nav-link mx-2" href="/search">Search</a> 
    </div>
</nav>
