{% extends 'base.html' %}

{% block content %}
<style>
h2 {
  font-size: 24px;
  margin-bottom: 16px;
  margin-left: 10px;
}

section {
  display: flex;
  flex-wrap: wrap;
}

div > a, section a  {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightblue;
}

div {
    display: flex;
}

</style>
<div>
<h2>Existing Bookings:</h2>
<a href="../booking_detail/1/">Add New Booking</a>
</div>
<section>
{% for i in bookings %}
    <a href="../booking_detail/{{ i.id }}">{{ i }}</a>
{% endfor %}
</section>
{% endblock content %}
