{% extends 'base.html' %}

{% block content %}
<style>
    section {
        background-color: #f2f9ff;
        padding: 20px;
        border-radius: 5px;
        margin: 0 auto;
        max-width: 400px;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    }

    h2 {
        color: #0066cc;
        font-size: 24px;
        margin-bottom: 10px;
    }

    h3 {
        color: #004080;
        font-size: 18px;
        margin-bottom: 15px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        color: #333;
        font-size: 16px;
        margin-bottom: 5px;
    }
section a {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
  border-radius: 4px;
  font-size: 16px;
  background-color: lightblue;
}
</style>
<section>
    <h2>Confirm Deletion</h2>
    <p>Are you sure you want to delete booking #{{details.id}}?</p>
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Delete">
        <a href="../booking_list">Go Back</a>
    </form>
</section>
{% endblock content %}