{% extends 'partials/base.html' %}

{% block content %}
<h1>Films</h1>
{% if user.is_authenticated %}
    <ol>
        {% for film in films %}
          <li>{{ film.title }}</li>
            <a href="../updateFilm/{{film.id}}">Edit Film</a>

            <ul>
                <li>Director: {{director}}</li>
                <a href="../updateDirector/{{director_id}}">Edit Director</a>
                <li>Rating: {{film.rating}}</li>
                <li>Date: {{film.release_date}}</li>
                <li>Available in: {{film.available_in_countries}}</li>
                <li>Category: {{film.category.name}}</li>
            </ul>
        {% endfor %}
    </ol>
{% endif %}
{% endblock %}